{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Alan Bilgileri</div>
            <form action="/alanguncelle" method="post">

                <div class="element">
                    <label for="name">Alan Adı <span class="red">(gerekli)</span></label>
                    <input id="name" name="alan_adi" class="text" value='{$alan_bilgisi.alan_adi}' />
                    <input type='hidden' name='id' value='{$alan_bilgisi.id}'/>
                </div>
                <div class="element">
                    <label for="category">Tür <span class="red">(Gerekli)</span></label>
                    <select name="tur" >
                        {if="$alan_bilgisi.tur==sayısal"}
                        <option value="sayısal" selected>Sayısal</option>
                        <option value="tarih">Tarih</option>
                        <option value="karma">Karma (Harf içerebilir)</option>
                        <option value="boolen" >Doğru/Yanlış</option>
                        {elseif="$alan_bilgisi.tur==tarih"}
                        <option value="sayısal">Sayısal</option>
                        <option value="tarih" selected>Tarih</option>
                        <option value="karma">Karma (Harf içerebilir)</option>
                        <option value="boolen" >Doğru/Yanlış</option>
                        {elseif="$alan_bilgisi.tur==karma"}
                        <option value="sayısal">Sayısal</option>
                        <option value="tarih">Tarih</option>
                        <option value="karma" selected>Karma (Harf içerebilir)</option>
                        <option value="boolen" >Doğru/Yanlış</option>
                        {elseif="$alan_bilgisi.tur==boolean"}
                        <option value="sayısal">Sayısal</option>
                        <option value="tarih">Tarih</option>
                        <option value="karma">Karma (Harf içerebilir)</option>
                        <option value="boolean" selected>Doğru/Yanlış</option>
                        {/if}

                    </select>
                </div>

                <div class="element">
                    <label for="category">Durum <span class="red">(Gerekli)</span></label>
                    <select name="durum"  >
                        {if="$alan_bilgisi.durum == 1"}

                        <option value="1" selected>Aktif</option>
                        <option value="0">Pasif</option>
                        {else}
                        <option value="1"  >Aktif</option>
                        <option value="0" selected>Pasif</option>
                        {/if}


                    </select>
                </div>

                <div class="entry">
                    <button type="submit" class="add">Güncelle</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
