{include="header"}

            <div id="content">
               {include="side"}
                <div id="main">
                    <div class="full_w">
                        <div class="h_title">Stok Alanı Ekle</div>
                        <form action="/alankaydet" method="post" id='alanekle'>
                            <div class="element">
                                <label for="name">Alan Adı <span class="red">(gerekli)</span></label>
                                <input id="name" name="alan_adi" class="text" />
                            </div>
                            <div class="element">
                                <label for="category">Tür <span class="red">(Gerekli)</span></label>
                                <select name="tur" >
                                    <option value="sayısal">Sayısal</option>
                                    <option value="tarih">Tarih</option>
                                    <option value="karma">Karma (Harf içerebilir)</option>
                                    <option value="boolean">Doğru/Yanlış</option>
                                    <option value="barkod">Barkod Kodu</option>
                                </select>
                            </div>
                            <div class="element">
                                <label for="category">Durum <span class="red">(Gerekli)</span></label>
                                <select name="durum"  >
                                    <option value="1">Aktif</option>
                                    <option value="0">Pasif</option>
                                </select>
                            </div>

                            <div class="entry">
                                <button type="submit" class="add">Kaydet</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

            <div id="footer">
                <div class="left">
                    <p>stokizle.com 2013 </p>
                </div>
                <div class="right">
                    <p><a href="">
                        </a> | <a href=""></a></p>
                </div>
            </div>
        </div>

    </body>
</html>
