{include="header"}
<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Stok İşlem</div>
            <form action="/stokguncelle/{$stok_bilgisi.basic.id}" method="post">
                {if="$sirket_data.barkod_durumu==1"}
                <div class="element">
                    <label for="name"> Barkod Kodu<span class="red"></span></label>
                    <input id="name" name="barkod_kodu" class="text" value="" />
                    
                </div>
                {else}
                <div class="element">
                    <label for="name"> Barkod sistemi kapalı olduğu için ürün listesinden seçim yapmanız gerekmektedir</label>
                   
                    
                </div>
                {/if}
                
               

                <div class="entry">
                    <button type="submit" class="add">Devam Et</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>

</body>
</html>
