{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Şirket Ayarları</div>
            <form id="update-form" action="/ayarlar/sirketayarkaydet" method="post">

                <div class="element">
                    <label for="name">Stok Uyarı Oranı:</label>
                    <input id="name" name="STOK_UYARI_ORANI" class="text" value="{$company_setting.STOK_UYARI_ORANI}" />
                </div>
                <div class="element">
                    <label for="name">Düşük Satış Oranı:</label>
                    <input id="name" name="DUSUK_SATIS_ORANI" class="text" value="{$company_setting.DUSUK_SATIS_ORANI}" />
                </div>
                <div class="element">
                    <label for="name">Düşük Satış Periyodu:</label>
                    <input id="name" name="DUSUK_SATIS_PERIYODU" class="text" value="{$company_setting.DUSUK_SATIS_PERIYODU}" />
                </div>



                <div class="entry">
                    <span id="update-msg"></span>
                    <button type="submit">Kaydet</button>
                </div>
            </form>

        </div>


    </div>
    <div class="clear"></div>
</div>
<script>
    $("#update-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR)
                    {
                        humane.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        //if fails
                    }
                });

    });
</script>
<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
