{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Şirket Bilgileri</div>
            <h1>Şirket Kimliği</h1>
            <form id="update-form" action="/ayarlar/sirketprofilkaydet" method="post">
                <div class="element">
                    <label for="name">Şirket Adı:</label>
                    <input id="name" name="SIRKET_ADI" class="text" value="{$company_info.SIRKET_ADI}" />
                </div>
                <div class="element">
                    <label for="name">Adres Bilgileri:</label>
                    <input id="name" name="SIRKET_ADRESI" class="text" value="{$company_info.SIRKET_ADRESI}" />
                </div>
                <div class="element">
                    <label for="name">Telefon:</label>
                    <input id="name" name="SIRKET_TELEFONU" class="text" value="{$company_info.SIRKET_TELEFONU}" />
                </div>
                <div class="element">
                    <label for="name">Şehir:</label>
                    <input id="name" name="SEHIR" class="text" value="{$company_info.SEHIR}" />
                </div>

                <div class="entry">
                    <span id="update-msg"></span>
                    <button type="submit">Kaydet</button>
                </div>
            </form>

        </div>


    </div>
    <div class="clear"></div>
</div>
<script>
    $("#update-msg").hide();
    $("#update-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR)
                    {
                        humane.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        //if fails
                    }
                });

    });
</script>
<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
