<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<p>İşbu Gizlilik Politikası’nın amacı, www.stokizle.com adresinde yer alan siteye (“Site”) üye olarak kaydolan kişiler (“Kullanıcı(lar)”) tarafından Site’de yer alan Platform’dan faydalanılması aşamasında Gekosis Yazılım ve Bilişim Sistemleri (“Şirket”) ile paylaşılan bilgi ve verilerin kullanımına ilişkin koşul ve şartları tespit etmektir. Gizlilik Politikası, Kullanıcı ile akdedilen Kullanıcı Sözleşmesi’nin eki ve ayrılmaz bir parçası niteliğindedir.
</p>
<p>
Kullanıcı tarafından Site’ye yüklenen İçerik Kullanıcı’nın mülkiyetindedir. Şirket, bu İçerik’i Kullanıcı’nın önceden onayını almaksızın açıklamayacak veya satmayacaktır.
</p>
<p>
Şirket, Site üzerinden kendisine elektronik ortamdan iletilen İçerikleri’i Kullanıcılar ile yaptığı Kullanıcı Sözleşmesi ile belirlenen amaçlar ve kapsam dışında üçüncü kişilere açıklamayacaktır. Bu kapsamda Şirket, İçerikler’i kesinlikle özel ve gizli tutmayı, bunu bir sır saklama yükümü olarak addetmeyi ve gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek
için gerekli tüm tedbirleri almayı ve gerekli özeni göstermeyi taahhüt etmektedir.
</p>
<p>
Kullanıcı’nın Şirket’e onay vermesi halinde ödeme işlemleri, fatura kesimi ve işlenmesi, banka entegrasyonu, Kullanıcı’nın erişimine izin verdiği üçüncü kişi uygulamaları ve doğrudan pazarlama gibi amaçlarla Kulllanıcı’nın verdiği onay çerçevesinde İçerikler işlenebilir, saklanabilir ve Şirket ile ortakları tarafından Kullanıcı’nın talep ettiği hizmetleri sağlamak üzere üçüncü kişilere devredilebilir.
</p>
<p>
Şirket, İçerikler’i fatura gönderilmesi, ödeme bilgilerinin paylaşılması gibi talep edilen hizmetlerin sağlanması amacıyla diğer kullanıcılara açıklayabilecektir. Kullanıcı’nın diğer kullanıcıya ait İçerikler’i kullanmak istemesi halinde ilgili kullanıcıdan onay alacak ve İçerikler’i alınan bu onay kapsamında kullanacaktır.
</p>
<p>
Kişisel bilgiler Kullanıcı ile temas kurmak veya Kullanıcı’nın Site’deki tecrübesini iyileştirmek (hizmetlere ilişkin bakım ve destek, mevcut hizmetlerin geliştirilmesi, yeni hizmetler oluşturulması ve kişiye özel hizmetler sunulması gibi) amacıyla kullanılabileceği gibi veri tabanı oluşturma, üyeliklerin sürdürülmesi ve Şirket’in hizmetlerinin Kullanıcı’ya sağlanması için gerekli olan diğer faaliyetleri gerçekleştirme amacıyla da işleyebilecek, saklayabilecek ve üçüncü kişilere
aktarabilecektir.
</p>
<p>
Şirket, Kullanıcı’nın Site üzerinde gerçekleştirdiği kullanım ve işlem bilgilerini anonim hale getirerek; istatistiki değerlendirmelerde, performans değerlendirmelerinde, Şirket ve iş ortaklarının pazarlama kampanyalarında ve bağış kampanyalarında, yıllık rapor ve benzeri raporlarda kullanmak üzere bu amaçların gerçekleştirilmesi için gereken sürede saklayabilir, işleyebilir ve iş ortaklarına iletebilir.
</p>
<p>
Site üzerinden düzenlenebilecek olan periyodik veya periyodik olmayan anketlere cevap veren ve kişisel bilgilerinin işlenmesi konusunda rıza gösteren Kullanıcılar’dan talep edilen bilgiler, Şirket tarafından bu kişilere doğrudan pazarlama yapmak, istatistiki analiz yapmak ve veri tabanı oluşturmak amacıyla kullanılabilecektir.
</p>
<p>
Şirket ayrıca, aşağıdaki koşulların varlığı halinde Kullanıcı’ya ait bilgileri üçüncü kişilerle paylaşabilecektir:
</p>
<p>
    <br>Kullanıcı Sözleşmesi kapsamındaki yükümlülüklerin yerine getirilmesi için ilgili ifşanın zorunlu olması,
        <br>Yetkili idari ve adli bir kurum tarafından ilgili mevzuat doğrultusunda usulüne göre yürütülen bir araştırma veya soruşturmanın yürütümü amacıyla kullanıcılarla ilgili bilgi talep edilmesi,
            <br>Kullanıcıların hakları veya güvenliklerini korumak için bilgi vermenin gerekli olması.
            </p>
            <p>
            Şirket ayrıca, aşağıdaki konular ile ilgili olarak kullanıcı/kullanıcılara SMS, Telefon ve Email adresleri aracılığı ile iletişime geçebilir:
                
                    <br>Uygulamada yapılan yeniliklerin ve değişikliklerin bildirilmesi,<br>
                        Kullanıcı girişlerinde kullanılan şifre değiştirilmesi ve yenilenmesi işlemleri,<br>
                            Şirketin yeni ürün ve hizmetlerine ait bilgilendirme ve tanıtım işlemleri,
                            </p>
                            <p>
                            Sistemle ilgili teknik sorunların tanımlanması ve çözülmesi için, Şirket gereken hallerde kullanıcıların IP adresini tespit etmek ve kullanmak durumunda kalabilir. IP adresleri, ayrıca kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak amacıyla da kullanılabilir.
                            </p>
                            <p>
                            Şirket, yukarıda anılan amaçlarla ilgili verileri Kullanıcı’nın ikamet ettiği ülke dışında dünyanın herhangi bir yerinde bulunan sunucularına (sunucular kendisine, bağlı şirketlerine veya alt yüklenicilerine ait olabilir) aktarma hakkına sahiptir.
                            </p>
                            <p>
                            Site üzerinden başka site ve uygulamalara link verilmesi mümkün olup, Şirket’in bu site ve uygulamaların gizlilik uygulamaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.
                            </p>
                            <p>
                            Şirket, işbu Gizlilik Politikası hükümlerini dilediği zaman Site’de yayımlamak suretiyle değiştirebilir. Şirket’in değişiklik yaptığı Gizlilik Politikası hükümleri Site’de yayınlandığı tarihte yürürlük kazanır.
                            </p>
