{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Azalan Stoklar</div>
            <div class="entry">


                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">Ürün Adı</th>
                            <th scope="col">Depo Adı</th>
                            <th scope="col" style="width: 65px;">Adet</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="stock_warning"}
                        <tr>

                            <td>{$value.URUN_ADI}</td>
                            <td>{$value.DEPO_ADI}</td>
                            <td>{$value.ADET}</td>

                        </tr>
                        {/loop}
                    </tbody>
                </table>

            </div>


        </div>

        <div class="full_w">
            <div class="h_title">Tükenmiş Stoklar</div>
            <div class="entry">


                <table id='liste2' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">Ürün Adı</th>
                            <th scope="col">Depo Adı</th>
                            <th scope="col" style="width: 65px;">Adet</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="outof"}
                        <tr>

                            <td>{$value.URUN_ADI}</td>
                            <td>{$value.DEPO_ADI}</td>
                            <td>{$value.ADET}</td>

                        </tr>
                        {/loop}
                    </tbody>
                </table>

            </div>


        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
                $(document).ready(function () {
                    $('#liste2').dataTable({
                        "bJQueryUI": true,
                        "sPaginationType": "full_numbers",
                        "bSort": true,
                        aaSorting: []
                    });


                });</script>

</body>
</html>
