{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Log Detay Sayfası</div>
            <h1>Log detayları</h1>
            <div class="element">
                <p>
                    <b>İşlem Türü:</b> {$log_detay.tur}
                </p>
                <p>
                    <b>İşlem Tarihi:</b>  {$log_detay.tarih}
                </p>
                <p>
                    <b>İşlemi Yapan:</b>  {$log_detay.kullanici}
                </p>
                <p>
                    <b>Mesaj:</b>  {$log_detay.mesaj}
                </p>
            </div>
        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
</body>
</html>
