<div id="nav">
    <ul>

        <li class="upp"><a href="/">Ana Sayfa</a></li>
        {loop="user_menu"}
        <li class="upp"><a href="{$value.link}">{$value.name}</a>
            <ul>
                {loop="$value.sub"}
                <li>&#8250; <a href="{$value}">{$key}</a></li>
                {/loop}
            </ul>
        </li>
        {/loop}
        <li class="upp"><a href="#">Depo İşlemleri</a>
            <ul>
                <li>&#8250; <a href="/depolar">Depolar</a></li>
                <li>&#8250; <a href="/depoekle">Depo Ekleme</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Stok İşlemleri</a>
            <ul>
                <li>&#8250; <a href="/stoklar">Stok Listesi</a></li>
                <li>&#8250; <a href="/stokgir">Stok Gir</a></li>
                <li>&#8250; <a href="/stokcik">Stok Çık</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Fatura İşlemleri</a>
            <ul>
                <li>&#8250; <a href="/faturalar">Faturalar</a></li>
                <li>&#8250; <a href="/faturaekle">Fatura Ekle</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Kullanıcı İşlemleri</a>
            <ul>
                <li>&#8250; <a href="/kullanicilar">Mevcut Kullanıcılar</a></li>
                <li>&#8250; <a href="/kullaniciekle">Kullanıcı Ekle</a></li>
            </ul>
        </li>
        <li class="upp"><a href="#">Ayarlar</a>
            <ul>
                <li>&#8250; <a href="/profil">Profil Ayarları</a></li>
                <li>&#8250; <a href="/sirketayarlari">Şirket Ayarları</a></li>
                <li>&#8250; <a href="/alanlar">Ürün Alanları</a></li>
            </ul>
        </li>
    </ul>
</div>