<div id="nav">
    <ul>

        <li class="upp"><a href="/">Ana Sayfa</a></li>
        {loop="user_menu"}
        <li class="upp"><a href="">{$value.name}</a>
            <ul>
                {loop="$value.sub"}
                <li>&#8250; <a href="{$value}">{$key}</a></li>
                {/loop}
            </ul>
        </li>
        {/loop}

    </ul>
</div>


<ul class="mainnav">
    <li class="active"><a href="/"><i class="icon-dashboard"></i><span>Anasayfa</span> </a> </li>
    {loop="user_menu"}

    <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>{$value.name}</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {loop="$value.sub"}
            <li><a href="{$value}">{$key}</a></li>

            {/loop}
        </ul>
    </li>
    {/loop}
</ul>

