{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Ödeme Sonucunuz</div>
            <h1></h1>

            <div class="entry">
                <label for="name">Paket Adı: {$paket}</label>
            </div>
            <div class="entry">
                <label for="name">Bitiş Tarihi: {$paket_bitis_tarihi}</label>
            </div>

            <h1>Paket Değişikliği</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Paket Adı</th>
                        <th scope="col">Fiyatı</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    {loop="lisans"}
                    <tr>
                        <td class="align-center">{$value.LISANS_ADI}</td>
                        <td>{$value.FIYAT} TL / {$value.SURE} Ay</td>
                        <td><a href="/satinal/{$value.ID}">SATIN AL</a></td>
                    </tr>

                    {/loop}



                </tbody>
            </table>


        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
