{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        

        <div class="clear"></div>

        <div class="full_w">

            <div class="h_title">Paket ve Ödeme Bilgileriniz</div>
            <h3>{$msg}</h3>
            <h1>Mevcut Paket</h1>

            <div class="entry">
                <label for="name">Paket Adı: {$paket}</label>
            </div>
            <div class="entry">
                <label for="name">Bitiş Tarihi: {$paket_bitis_tarihi}</label>
            </div>

            <h1>Paket Değişikliği</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Paket Adı</th>
                        <th scope="col">Fiyatı</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    {loop="lisans"}
                    <tr>
                        <td class="align-center">{$value.LISANS_ADI}</td>
                        <td>{$value.FIYAT} TL / {$value.SURE} Ay</td>
                        <td width="250px"><a href="/satinal/{$value.ID}">Kredi Kartı</a> | | <a href="/odemeonay/havale/{$value.ID}">Havale/Eft</a> | | <a href="/havalebildirim/">Havale Bildirim Formu</a> </td>
                    </tr>

                    {/loop}



                </tbody>
            </table>

             <h1>Geçmiş Ödemeler</h1>

            <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tutar</th>
                        <th scope="col">Yöntem</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Durum</th>
                    </tr>
                </thead>

                <tbody>
                    {loop="gecmis_odemeler"}
                    <tr>
                        <td class="align-center">{$value.ID}</td>
                        <td>{$value.TUTAR} TL </td>

                        <td>{if="$value.YONTEM==iyzico"} Kredi Kartı {else}{$value.YONTEM}{/if}</td>
                        <td>{$value.TARIH}</td>
                        <td>{if="$value.DURUM==success"}Başarılı{else}{$value.DURUM}{/if}</td>
                    </tr>

                    {/loop}



                </tbody>
            </table>


        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
