{include="header"}


<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürünler</div>
            <h2>Şirketinize ait ürünler</h2>
            <div class="sep"></div>
            <div  id="depoliste" >
                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">Ürün Adı</th>
                            <th scope="col">Stok Kodu</th>
                             <th scope="col">Barkod</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="products"}
                        <tr data-id='{$value.ID}' data-name='{$value.URUN_ADI}'>
                            <td><a href="/urun/profil/{$value.ID}">{$value.URUN_ADI}</a></td>
                            <td> {$value.STOK_KODU}</td>
                            <td>{$value.BARKOD}</td>



                        </tr>
                        {/loop}

                    </tbody>
                </table>
            </div>

            <div class="entry">

                <div class="sep"></div>
                <p>Ürün Ekleme stok girişi sırasında yapılmaktadır...</p>
            </div>


        </div>
        <div class="clear"></div>
    </div>

    <div id="footer">
        <div class="left">
            <p>stokizle.com 2013 </p>
        </div>
        <div class="right">
            <p><a href="">
                </a> | <a href=""></a></p>
        </div>
    </div>
</div>

</body>
</html>
