{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Profil Sayfası</div>
            <div class="entry">
                <form id='staff-update-form' action="#" method="post">
                    <div class="element">
                        <label for="name">Ürün Adı</label>
                        <input id="name" name="URUN_ADI" class="text" style="width: 40%" value="{$product.info.URUN_ADI}" readonly="" />

                    </div>
                    <div class="element">
                        <label for="email">Stok Kodu</label>
                        <input id="name" name="STOK_KODU" class="text" style="width: 40%" value="{$product.info.STOK_KODU}" readonly=""/>
                    </div>
                    <div class="element">
                        <label for="email">Barkod</label>
                        <input id="name" name="BARKOD" class="text" style="width: 40%" value="{$product.info.BARKOD}" readonly=""/>
                    </div>
                </form>
            </div>
            <div class="sep"></div>
            <div class="entry" >
                <h2>Depolara göre stok durumu</h2>
                <p id="permission-delete-msg"></p>
                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">DEPO ADI</th>
                            <th scope="col">ADET</th>

                        </tr>
                    </thead>

                    <tbody>
                        {loop="product.stocks"}
                        <tr >
                            <td>{$value.DEPO}</td>
                            <td>{$value.ADET}</td>


                        </tr>
                        {/loop}

                    </tbody>
                </table>
            </div>


        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>



</body>

</html>
