{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Profil Sayfanız</div>
            <h1>Kişisel Bilgiler</h1>
            <form id='profile-update-form' action="/ayarlar/profilkaydet" method="post">
                <div class="element">
                    <label for="name">İsminiz</label>
                    <input id="name" name="ISIM" class="text" value="{$name}" />
                </div>



                <div class="entry">
                    <span id="profile-update-msg"></span>
                    <button type="submit">Kaydet</button>
                </div>
            </form>
            <h1>Şifre Değiştirme</h1>
            <form id='pass-update-form' action="/ayarlar/sifredegistir" method="post" id="yenisifre">

                <div class="element">
                    <label for="name">Yeni Şifreniz:</label>
                    <input type='password' id="new_pass" name="new-password" class="password" />
                </div>

                <div class="entry">
                    <span id='pass-update-msg'></span>
                    <button type="submit">Değiştir</button>
                </div>
            </form>
        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>


<script>
    $("#pass-update-msg").hide();
    $("#pass-update-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>

<script>
    $("#profile-update-msg").hide();
    $("#profile-update-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
</body>
</html>
