{include="header"}


<div id="content">
    {include="side"}
    <div id="main">


        <div class="full_w">
            <div class="h_title">Ürün Bazlı Raporlama</div>
            <h2>Raporlama Kriterleri</h2>
            <form id='stock-sell-form' action="/rapor/urun" method="post" id="stokekle">
                <div class="element">
                    <label for="barkod">Başlangıç Tarihi </label>
                    <input id="baslangic" name="BASLANGIC" class="password" />
                </div>
                <div class="element">
                    <label for="barkod">Bitiş Tarihi</label>
                    <input id="bitis" name="BITIS" class="password" />
                </div>
                <div class="element">
                    <label for="barkod">BARKOD</label>
                    <input id="bitis" name="BARKOD" class="password" />
                </div>
                <div class="element">
                    <label for="barkod">İşlem Tipi</label>
                    <select name='ISLEM_TURU'>
                        <option value='cikis'>Satış</option>
                        <option value='giris'>Giriş</option>
                    </select>
                </div>
                <div class="element">
                    <input type="submit" value='Raporla'>
                </div>
            </form>
        </div>
        <div class="full_w">
            <div class="h_title">Rapor sonucu:</div>
            <div  id="depoliste" >
                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Personel</th>
                            <th scope="col">Ürün</th>
                            <th scope="col">Depo</th>
                            <th scope="col">Adet</th>
                            <th scope="col">İşlem Tarihi</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="report_result"}
                        <tr data-id='{$value.ID}' data-name='{$value.DEPO_ADI}'>

                            <td> {$value.ID}</td>
                            <td>{$value.PERSONEL_ID}</td>
                            <td>{$value.URUN_ID}</td>
                            <td>{$value.DEPO_ID}</td>
                            <td>{$value.ADET}</td>
                            <td>{$value.CIKIS_TARIHI}{$value.ISLEM_TARIHI}</td>

                        </tr>
                        {/loop}

                    </tbody>
                </table>
            </div>
        </div>




        <div class="clear"></div>
    </div>

    <div id="footer">
        <div class="left">
            <p>stokizle.com 2013 </p>
        </div>
        <div class="right">
            <p><a href="">
                </a> | <a href=""></a></p>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#baslangic").datepicker({dateFormat: 'yy-mm-dd'});

    });

    $(function () {
        $("#bitis").datepicker({dateFormat: 'yy-mm-dd'});

    });

</script>
</body>
</html>
