{include="header"}


<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Genel Bilgiler</div>
            <div class="element">
                <p><b>Son 10 günlük satış toplamı: {$tendays_sales.adet}</b></p>
                <p><b>Son 10 günlük girişler toplamı: {$tendays_imports.adet}</b></p>
                <p><b>Son 30 gün içerisinde en çok satılan ürün: {$top_seller.URUN_ADI} - {$top_seller.adet} </b></p>
            </div>
        </div>
        <div class="full_w">
            <div class="h_title">Toplam Stok Dağılımı</div>
              <div  id="depoliste" class="element">
                    <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                        <thead>
                            <tr>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col">Barkod</th>
                                <th scope="col">Toplam Stok</th>
                            </tr>
                        </thead>

                        <tbody>
                            {loop="product_list"}
                            <tr data-id='{$value.ID}' data-name='{$value.DEPO_ADI}'>

                                <td> <a href="/depo/{$value.ID}">{$value.URUN_ADI}</a></td>
                                <td> <a href="/depo/{$value.ID}">{$value.BARKOD}</a></td>
                                <td>{$value.TOTAL}</a></td>


                            </tr>
                            {/loop}

                        </tbody>
                    </table>
                </div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="footer">
        <div class="left">
            <p>stokizle.com 2013 </p>
        </div>
        <div class="right">
            <p><a href="">
                </a> | <a href=""></a></p>
        </div>
    </div>
</div>

</body>
</html>
