{include="header"}
<div id="content">
    {include="side"}
    <div id="main">



        <div class="clear"></div>

        <div class="full_w" style="height: 580px;">
            <div class="h_title">Paket ve Ödeme Bilgileriniz</div>
            <h1>Satın Alınacak Paket Bilgileri</h1>

            <div class="entry">
                <label for="name">Paket Adı: {$paket_bilgisi.name}</label>
            </div>
            <div class="entry">
                <label for="name">Periyod: 30 Gün</label>
            </div>
            <div class="entry">
                <label for="name">Paket Fiyatı: {$paket_bilgisi.price}</label>
            </div>
            <div class="entry">
                <label for="name">UYARI: Tüm sanal pos kredi kartı ödemeleri iyzico.com platformu üzerinden yapılmaktadır. Sistemimiz üzerinde kredi kartı bilgileri saklanmamaktadır.</label>
                <br>
                <script src="https://www.iyzico.com/frontend/form/v1/widget.js?&mode=test&installment=true&token={$token}&language=tr"></script>
                <form class="iyzico-payment-form entry"></form>
            </div>

            <div class="entry">
                <p>
                    Ödeme yaparak
                    <a href="#" id="satissozlesmesi">Satış Sözleşmesini</a>
                    ve

                    <a href="#" id="kullanim">Gizlilik Şartlarını</a> kabul etmiş sayılacaksınız...
                </p>
            </div>
            <div id="satissoz" style="display: none;">
                {include="satissozlesmesi"}
            </div>
            <div id="kulsoz" style="display: none;">
                {include="gizliliksozlesmesi"}
            </div>




        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        $("a#satissozlesmesi").click(function (e) {
            e.preventDefault();
            $("#satissoz").dialog({height: 450, width: 700});
        });

        $("a#kullanim").click(function (e) {
            e.preventDefault();
            $("#kulsoz").dialog({height: 450, width: 700});
        });
    });

</script>
</body>
</html>
