<div id="sidebar">


    {loop="user_menu"}
    <div class="box">
        <div class="h_title">&#8250; {$value.name}</div>
        <ul>
            
            {loop="$value.sub"}
            
            <li class="b{$counter+1}"><a href="{$value}" class="icon menu_item">{$key}</a></li>
            
            
            {/loop}
            
        </ul>
    </div>
    {/loop}
    
</div>