{include="header"}

<div id="content">
    {include="side"}
    <div id="main">


        <div class="clear"></div>

        <div class="full_w">
            <div class="h_title">Şirket Bilgileri</div>
            <h1>Şirket Kimliği</h1>
            <form action="/ayarlar/sirketprofilkaydet" method="post">
                <div class="element">
                    <label for="name">Şirket Adı:</label>
                    <input id="name" name="isim" class="text" value="{$isim}" />
                </div>
                <div class="element">
                    <label for="name">Adres Bilgileri:</label>
                    <input id="name" name="adres" class="text" value="{$adres}" />
                </div>
                <div class="element">
                    <label for="name">Telefon:</label>
                    <input id="name" name="telefon" class="text" value="{$telefon}" />
                </div>
                <div class="element">
                    <label for="name">Şehir:</label>
                    <input id="name" name="sehir" class="text" value="{$sehir}" />
                </div>
                <div class="element">

                    <label for="name">Vergi Dairesi:</label>
                    <input id="name" name="vergi_dairesi" class="text" value="{$vergidairesi}" />
                </div>
                <div class="element">
                    <label for="name">Vergi Numarası:</label>
                    <input id="name" name="vergi_numarasi" class="text" value="{$vergino}" />
                </div>

                <div class="entry">
                    <button type="submit">Kaydet</button>
                </div>
            </form>
            
        </div>


    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
