{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Personel Bilgi Düzenleme</div>
            <div class="entry">
                <form id='staff-update-form' action="/ayarlar/kullaniciguncelle" method="post">
                    <div class="element">
                        <label for="name">İsim</label>
                        <input id="name" name="ISIM" class="text" value="{$staff_data.ISIM}" />
                        <input id="name" type='hidden' name="ID" class="text" value="{$staff_data.ID}" />
                    </div>
                    <div class="element">
                        <label for="email">Email Adresi</label>
                        <input id="name" name="EMAIL" class="text" value="{$staff_data.EMAIL}"/>
                    </div>
                    <div class="entry">
                        <span id='staff-update-msg'></span>
                        <button type="submit" class="add">Kaydet</button>
                    </div>
                </form>
            </div>
            <div class="sep"></div>
            <div class="entry" >
                <h2>Yetki Listesi</h2>
                <p id="permission-delete-msg"></p>
                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">YETKİ</th>
                            <th scope="col" style="width: 65px;">İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="permission_list"}
                        <tr id="{$value.PERM_ID}">
                            <td>{$value.PERM_ID}</td>
                            <td>{$value.MODUL_ADI}</td>

                            <td>
                                <div class="delete" rel="{$value.PERM_ID}">
                                    <span id="permission-delete" class="table-icon delete" title="Sil"></span>
                                </div>
                            </td>
                        </tr>
                        {/loop}

                    </tbody>
                </table>
            </div>
            <div id="entry">
                <form id='staff-perm-add' method="post" action="/ayarlar/kullaniciyetkiekle/{$staff_data.ID}">
                    <span id='staff-perm-add-msg'></span>
                    <div class="element">
                        <label for="name">Yetki Ekle:</label>
                        <select name="module">
                            {loop="module_list"}
                            <option value="{$value.ID}">{$value.MODUL_ADI}</option>
                            {/loop}
                        </select>

                        <button type="submit" class="add">Ekle</button>
                    </div>

                </form>
            </div>
            <div id="entry">
                <form action="/kullanicisifredegistir" method="post">
                    <div class="element">
                        <label for="name">Yeni Şifre:</label>
                        <input type='password' id="name" name="sifre" class="password" />
                        <input id="name" type='hidden' name="id" class="text" value="{$kullanici.id}" />
                    </div>

                    <div class="entry">
                        <button type="submit" class="add">Değiştir</button>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $("#staff-update-msg").hide();
    $("#staff-update-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                $("#staff-update-msg").show();
                setTimeout(function () {
                    $('#staff-add-msg').fadeOut('fast');
                }, 7000);
                $("#staff-update-msg").html('<pre><code class="prettyprint">' + data + '</code></pre>');
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
<script>
    $("#staff-perm-add-msg").hide();
    $("#staff-perm-add").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                $("#staff-perm-add-msg").show();
                setTimeout(function () {
                    $('#staff-perm-add-msg').fadeOut('fast');
                }, 7000);
                $("#staff-perm-add-msg").html('<pre><code class="prettyprint">' + data + '</code></pre>');
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
<script>
    $( "#liste tbody tr" ).on( "click", function() {
     $.ajax({
                url: "http://fabrika.stokizle.com/ayarlar/kullaniciyetkisil/" + $(this).attr('id'),
                type: "POST",
                success: function (response) {
                    humane.log(response);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            })
            return false;
    });


</script>

</body>

</html>
