{include="header"}
            <div id="content">
              {include="side"}
                <div id="main">
                    <div class="full_w">
                        <div class="h_title">Kullanıcı Ekle</div>
                        <form id='staff-add-form' action="/ayarlar/kullanicikaydet" method="post">
                            <div class="element">
                                <label for="name">İsim <span class="red">(gerekli)</span></label>
                                <input id="isim" name="ISIM" class="text" />
                            </div>
                            <div class="element">
                                <label for="email">Email Adresi <span class="red">(gerekli)</span></label>
                                <input id="email" name="EMAIL" class="text" />
                            </div>
                            <div class="element">
                                <label for="sifre">Şifre <span class="red">(gerekli)</span></label>
                                <input id="sifre" type='password' name="SIFRE" class="password" />
                            </div>

                            <div class="entry">
				<span id='staff-add-msg'></span>
                                <button type="submit" class="add">Kaydet</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

            <div id="footer">
                <div class="left">
                    <p>stokizle.com 2013 </p>
                </div>
                <div class="right">
                    <p><a href="">
                        </a> | <a href=""></a></p>
                </div>
            </div>
        </div>
<script>
    $("#staff-add-form").submit(function(event) {
// Stop form from submitting normally
        event.preventDefault();
                var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
                type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            humane.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });

});
</script>
    </body>
</html>
