{include="header"}
<div id="content">
    {include="side"}
    <div id="main">


        <div class="full_w">
            <div class="h_title">Kullanıcı Listesi</div>


            <div class="entry">
                <div class="sep"></div>
                <div class="grid_full" >
                    <span id='staff-delete-msg'></span>
                    <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                        <thead>
                            <tr>
                                <th scope="col">İsim</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col" style="width: 65px;">İşlemler</th>
                            </tr>
                        </thead>

                        <tbody>
                            {loop="staff_list"}
                            <tr>

                                <td>{$value.ISIM}</td>
                                <td>{$value.EMAIL}</td>

                                <td>

                                    <div class="delete" rel="{$value.ID}">
                                        <a href="/ayarlar/kullaniciduzenle/{$value.ID}" class="table-icon edit" title="Düzenle"></a>
                                        <span id="staff-delete" class="table-icon delete" title="Sil"></span>
                                    </div>
                                </td>
                            </tr>
                            {/loop}

                        </tbody>
                    </table></div></div>
            <div class="entry">
                <div class="sep"></div>
                <a class="button add" href="/ayarlar/kullaniciekle">Yeni Kullanıcı Ekle</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $("#staff-delete-msg").hide();
    $(document).ready(function () {
        $(".delete span").click(function () {

            $.ajax({
                url: "https://panel.stokizle.com/ayarlar/kullanicisil/" + $(this).parent().attr('rel'),
                type: "POST",
                success: function (response) {
                    $("#staff-delete-msg").show();
                    setTimeout(function () {
                        $('#staff-delete-msg').fadeOut('fast');
                        location.reload();
                    }, 3500);
                    $("#staff-delete-msg").html('<pre><code class="prettyprint">' + response + '</code></pre>');
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    //if fails
                }
            })
            return false;
        });
    });

</script>
</body>
</html>
