{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Bilgi Alanı Ekleme</div>
            {$msg}
            <form id='field-add-form' action="/urun/alankaydet" method="post" id="stokekle">
                <div class="element">
                    <label for="name">Alan Adı <span class="red">(gerekli)</span></label>
                    <input id="name" name="ALAN_ADI" class="text" />
                </div>

                <div class="element">
                    <label for="barkod">Alan Türü <span class="black"></span></label>
                    <select name="ALAN_TURU">
                        <option value="SAYISAL">Sayısal</option>
                        <option value="TARIH">Tarih</option>
                        <option value="METIN">Metin</option>
                        <option value="ONAY">Evet/Hayır</option>
                    </select>
                </div>

                <div class="element">
                    <label for="barkod">Ürün Grubu <span class="black"></span></label>
                    <select name="STOK_KODU">
                        {loop="product_groups"}
                        <option value="{$value.STOK_KODU}">{$value.GRUP_ADI}</option>
                        {/loop}
                    </select>
                </div>


                <div class="entry">
                    
                    <button type="submit" class="add">Kaydet</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $("#field-add-msg").hide();
    $("#field-add-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
</body>
</html>
