{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Seri Numarası Kaydetme</div>
            {if="$msg"}
            <script>
                humane.log("{$msg}");
            </script>
            {/if}
            <form id='serial-no' action="/stok/serinokaydet" method="post" id="stokekle">
                <div class="element">
                    <label for="name">Ürün Grubu/Stok Kodu<span class="red">(gerekli)</span></label>
                    <select name="STOK_KODU">
                        {loop="product_groups"}
                        <option value="{$value.STOK_KODU}">{$value.GRUP_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="name">Depo<span class="red">(gerekli)</span></label>
                    <select name="DEPO_ID">
                        {loop="warehouses"}
                        <option value="{$value.ID}">{$value.DEPO_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="barkod">Barkod <span class="black"></span></label>
                    <input id="barkod" name="BARKOD" class="text" />
                </div>
                <div class="element" id='TextBoxesGroup'>
                    <label for="barkod">Seri No #1 <span class="black"></span></label>
                    <input  name="serino[1]" type="text" />
                </div>

                <div class="entry">
                    <input type='button' value='Seri No Ekle' id='addButton'>
                    <input type='button' value='Seri No Kaldır' id='removeButton'>
                    <button type="submit" class="add">Kaydet</button>
                </div>
            </form>
        </div>


    </div>

</div>
<script>
    $("#serial-no").submit(function(event) {
// Stop form from submitting normally
        event.preventDefault();
                var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            humane.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });

});
</script>
<script type="text/javascript">

    $(document).ready(function () {

        var counter = 2;

        $("#addButton").click(function () {

            if (counter > 10) {
                alert("Only 10 textboxes allow");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

            newTextBoxDiv.after().html('<label>Seri No #' + counter + ' : </label>' +
                    '<input type="text" name="serino[' + counter +
                    ']" id="serino[' + counter + ']" value="" >');

            newTextBoxDiv.appendTo("#TextBoxesGroup");


            counter++;
        });

        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more textbox to remove");
                return false;
            }

            counter--;

            $("#TextBoxDiv" + counter).remove();

        });


    });
</script>
<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
