{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Satış</div>
            <p>{$msg}</p>
            <form id='stock-sell-form' action="/stok/satiskaydet" method="post" id="stokekle">

                <div class="element">
                    <label for="barkod">Barkod <span class="black"></span></label>
                    <input id="barkod" name="BARKOD" class="text" />
                </div>
                <div class="element">
                    <label for="name">Depo<span class="red">(gerekli)</span></label>
                    <select name="DEPO_ID">
                        {loop="warehouses"}
                        <option value="{$value.ID}">{$value.DEPO_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="barkod">Adet <span class="black"></span></label>
                    <input id="barkod" name="ADET" class="text" />
                </div>
                <div class="element">
                    <label for="barkod">Tarih <span class="black"></span></label>
                    <input id="datepicker" name="CIKIS_TARIHI" class="text" />
                </div>
                <div class="entry" id='TextBoxesGroup'>

                </div>
                <div class="entry" >


                </div>
                <div class="entry">
                    <span id='group-add-msg'></span>
                    <input type='button' value='Seri No Ekle' id='addButton'>
                    <input type='button' value='Seri No Kaldır' id='removeButton'>
                    <button type="submit" class="add">Kaydet</button>
                </div>

            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $(function () {
        $("#datepicker").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>
<script>
    $("#group-add-msg").hide();
    $("#stock-sell-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        var counter = 1;

        $("#addButton").click(function () {

            if (counter > 10) {
                alert("Only 10 textboxes allow");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

            newTextBoxDiv.after().html('<label>Seri No #' + counter + ' : </label>' +
                    '<input type="text" name="serino[' + counter +
                    ']" id="textbox' + counter + '" value="" >');

            newTextBoxDiv.appendTo("#TextBoxesGroup");


            counter++;
        });

        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more textbox to remove");
                return false;
            }

            counter--;

            $("#TextBoxDiv" + counter).remove();

        });


    });
</script>
</body>
</html>
