{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Grubu Ekleme</div>
            {$msg}
            <form id='group-add-form' action="/urun/grupkaydet" method="post" id="stokekle">
                <div class="element">
                    <label for="name">Grup Adı <span class="red">(gerekli)</span></label>
                    <input id="name" name="GRUP_ADI" class="text" />
                </div>

                <div class="element">
                    <label for="barkod">Stok Kodu <span class="black"></span></label>
                    <input id="barkod" name="STOK_KODU" class="text" />
                </div>


                <div class="entry">
                    <span id='group-add-msg'></span>
                    <button type="submit" class="add">Kaydet</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $("#group-add-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
</body>
</html>
