{include="header"}
<div id="content">
   {include="side"}
    <div id="main">


        <div class="full_w">
            <div class="h_title">Stok Kodları / Ürün Grupları</div>


            <div class="entry">
                            <div class="sep"></div>
            <div class="grid_full" >
            <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                <thead>
                    <tr>
                        <th scope="col">Grup Adı</th>
                        <th scope="col">Stok Kodu</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    {loop="product_groups"}
                    <tr>

                        <td>{$value.GRUP_ADI}</td>
                        <td>
                            {$value.STOK_KODU}
                        </td>


                        <td>
                            <a href="/urun/grup/{$value.ID}" class="table-icon edit" title="Düzenle"></a>
                            <a href="/urun/grupsil/{$value.ID}" class="table-icon delete" title="Sil"></a>
                        </td>
                    </tr>
                    {/loop}

                </tbody>
            </table></div></div>
            <div class="entry">

                <div class="sep"></div>
                <a class="button add" href="/urun/grupekle">Ürün Grubu Ekle</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
