{include="header"}
<div id="content">
    {include="side"}
    <div id="main">


        <div class="full_w">
            <div class="h_title">Ürün Grubu Bilgileri</div>
            <div class="entry">
                <div class="grid_full">

                    <p><b>Grup Adı:</b> {$group_info.GRUP_ADI}</p>
                    <p><b>Stok Kodu:</b> {$group_info.STOK_KODU}</p>
                </div>
            </div>
        </div>
        <div class="full_w">

            <div class="h_title">Gruba ait alanlar</div>
            <div class="entry">


                <div class="grid_full" >
                    <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                        <thead>
                            <tr>
                                <th scope="col">Alan Adı</th>
                                <th scope="col">Türü</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>

                        <tbody>
                            {loop="fields"}
                            <tr>

                                <td>{$value.ALAN_ADI}</td>
                                <td>
                                    {$value.ALAN_TURU}
                                </td>
                                <td>
                                    <a href="/urun/alan/{$value.ID}" class="table-icon edit" title="Düzenle"></a>
                                    <a href="/urun/alansil/{$value.ID}" class="table-icon delete" title="Sil"></a>
                                </td>
                            </tr>
                            {/loop}

                        </tbody>
                    </table></div></div>
            <div class="entry">

                <div class="sep"></div>
                <a class="button add" href="/urun/alanekle">Alan Ekle</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
