{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Bilgi Formu</div>
            {$msg}
            <form id='group-add-form' action="/stok/kaydet" method="post" id="stokekle">
                <div class="element">
                    <label for="name">Ürün Adı</label>
                    <input type='text' name='urun_kimlik[URUN_ADI]'>
                    <label for="name">Stok Kodu</label>
                    <input type='text' name='urun_kimlik[STOK_KODU]' value='{$stok_kodu}'readonly>

                     <label for="name">Barkod</label>
                     <input type='text' name='urun_kimlik[BARKOD]' value='{$barkod}'readonly>
                    <input type='hidden' name='yeni_urun' value='true'>

                {loop="fields"}
                    <label for="name">{$value.ALAN_ADI}</label>
                    {if="$value.ALAN_TURU=='METIN'"}
                        <input type='text' name='alan_bilgi[{$value.ID}]'>
                    {/if}
                    {if="$value.ALAN_TURU=='SAYISAL'"}
                        <input type='text' name='alan_bilgi[{$value.ID}]'>
                    {/if}
                    {if="$value.ALAN_TURU=='TARIH'"}
                        <input type='text' name='alan_bilgi[{$value.ID}]'>
                    {/if}
                    {if="$value.ALAN_TURU=='ONAY'"}
                    <select name="alan_bilgi[{$value.ID}]">
                        <option value="1">Evet</option>
                        <option value="0">Hayır</option>
                    </select>
                    {/if}

                {/loop}
                </div>


                <div class="entry">
                    <span id='group-add-msg'></span>
                    <button type="submit" class="add">Kaydet</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
</body>
</html>
