{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Ürün Ekleme</div>
            {if="$msg"}
            <script>
                humane.log("{$msg}");
            </script>
            {/if}
            <form id='group-add-form' action="/stok/kaydet" method="post" id="stokekle">
                <div class="element">
                    <label for="name">Ürün Grubu/Stok Kodu<span class="red">(gerekli)</span></label>
                    <select name="STOK_KODU">
                        {loop="product_groups"}
                        <option value="{$value.STOK_KODU}">{$value.GRUP_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="name">Depo<span class="red">(gerekli)</span></label>
                    <select name="DEPO_ID">
                        {loop="warehouses"}
                        <option value="{$value.ID}">{$value.DEPO_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="barkod">Barkod <span class="black"></span></label>
                    <input id="barkod" name="BARKOD" class="text" />
                </div>
                <div class="element">
                    <label for="barkod">Adet <span class="black"></span></label>
                    <input id="barkod" name="ADET" class="text" />
                </div>
                <div class="element">
                    <label for="barkod">Tarih <span class="black"></span></label>
                    <input id="datepicker" name="ISLEM_TARIHI" class="text" />
                </div>
                <div class="entry">
                    <span id='group-add-msg'></span>
                    <button type="submit" class="add">Kaydet</button>
                </div>
            </form>
        </div>


    </div>

</div>
<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>
<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>

</body>
</html>
