{include="header"}

<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Stok Transfer</div>
            <p>{$msg}</p>
            <form id='stock-sell-form' action="/stok/transferkaydet" method="post" id="stokekle">

                <div class="element">
                    <label for="barkod">Barkod <span class="black"></span></label>
                    <input id="barkod" name="BARKOD" class="text" />
                </div>
                <div class="element">
                    <label for="barkod">Adet <span class="black"></span></label>
                    <input id="barkod" name="ADET" class="text" />
                </div>
                <div class="element">
                    <label for="name">Çıkış Depo</label>
                    <select name="CIKIS_DEPO">
                        {loop="warehouses"}
                        <option value="{$value.ID}">{$value.DEPO_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="name">Giriş Depo</label>
                    <select name="GIRIS_DEPO">
                        {loop="warehouses"}
                        <option value="{$value.ID}">{$value.DEPO_ADI}</option>
                        {/loop}
                    </select>
                </div>
                <div class="element">
                    <label for="barkod">Tarih <span class="black"></span></label>
                    <input id="datepicker" name="TRANSFER_TARIHI" class="text" />
                </div>
                <div class="entry">
                    <span id='group-add-msg'></span>
                    <button type="submit" class="add">Devam</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="footer">
    <div class="left">
        <p>stokizle.com 2013 </p>
    </div>
    <div class="right">
        <p><a href="">
            </a> | <a href=""></a></p>
    </div>
</div>
</div>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<script>
    $("#stock-sell-form").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR)
            {
                humane.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                //if fails
            }
        });
    });
</script>
</body>
</html>
