{include="header"}
            <div id="content">
              {include="side"}
                <div id="main">
                    <div class="full_w">
                        <div class="h_title">Depo Ekle</div>
                            {$msg}
                        <form id='add-form' action="/depo/kaydet" method="post">
                            <div class="element">
                                <label for="name">Depo Adı <span class="red">(gerekli)</span></label>
                                <input id="isim" name="DEPO_ADI" class="text" />
                            </div>
                            <div class="element">
                                <label for="email">Depo Adresi <span class="red">(gerekli)</span></label>
                                <input id="email" name="DEPO_ADRESI" class="text" />
                            </div>

                            <div class="entry">
                                <button type="submit" class="add">Kaydet</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

            <div id="footer">
                <div class="left">
                    <p>stokizle.com 2013 </p>
                </div>
                <div class="right">
                    <p><a href="">
                        </a> | <a href=""></a></p>
                </div>
            </div>
        </div>
<script>
    $("#add-form").submit(function(event) {
// Stop form from submitting normally
        event.preventDefault();
                var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
                type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            humane.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
        }
    });

});
</script>
    </body>
</html>
