{include="header"}


<div id="content">
    {include="side"}
    <div id="main">
        <div class="full_w">
            <div class="h_title">Depolar</div>
            <h2>Şirketinize ait depolar listesi</h2>
            <div class="sep"></div>





            <div  id="depoliste" >
                <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display" >
                    <thead>
                        <tr>
                            <th scope="col">İsim</th>
                            <th scope="col">Adres</th>
                            <th scope="col" style="width: 125px;">İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        {loop="warehouse_list"}
                        <tr data-id='{$value.ID}' data-name='{$value.DEPO_ADI}'>

                            <td> <a href="/depo/{$value.ID}">{$value.DEPO_ADI}</a></td>
                            <td>{$value.DEPO_ADRESI}</td>


                            <td data-id="{$value.ID}">
                                <a href="/depo/{$value.ID}" class="table-icon edit" title="Düzenle"></a>
                                <span class="table-icon delete" ></span>

                            </td>
                        </tr>
                        {/loop}

                    </tbody>
                </table>
            </div>

            <div class="entry">

                <div class="sep"></div>
                <a class="button add" href="/depo/ekle">Depo Ekle</a>
            </div>


        </div>
        <div class="clear"></div>
    </div>

    <div id="footer">
        <div class="left">
            <p>stokizle.com 2013 </p>
        </div>
        <div class="right">
            <p><a href="">
                </a> | <a href=""></a></p>
        </div>
    </div>
</div>
<script>
    $(".delete").click(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var id = $(this).parent().data('id');

        $.ajax(
                {
                    url: "/depo/sil/" + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR)
                    {
                        humane.timeout = 5000;
                        humane.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        //if fails
                    }
                });

    });
</script>
</body>
</html>
