{include="header"}
            <div id="content">
                {include="side"}
                <div id="main">


                    <div class="full_w">
                        <div class="h_title">{$warehouse_info.DEPO_ADI}</div>
                        <h2> Depo içerisinde bulunan stoklar</h2>

                        <div class="entry">
                            <div class="sep"></div>
                        </div>
                        <table id='liste' cellpadding="0" cellspacing="0" border="0" class="display">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Stok Kodu</th>
                                    <th scope="col">Barkod</th>
                                    <th scope="col">Adet</th>
                                </tr>
                            </thead>

                            <tbody>
                                {loop="warehouse_stock"}
                                <tr>
                                    <td>{$value.URUN_ADI}</td>
                                    <td>{$value.STOK_KODU}</td>
                                    <td>{$value.BARKOD}</td>
                                    <td>{$value.ADET}</td>
                                </tr>
                                {/loop}

                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div id="footer">
                <div class="left">
                    <p>stokizle.com 2013 </p>
                </div>
                <div class="right">
                    <p><a href="">
                        </a> | <a href=""></a></p>
                </div>
            </div>
        </div>

    </body>
</html>
