<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - Bootstrap Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
<link href="{{ tpl_url }}css/style.css" rel="stylesheet">
<link href="{{ tpl_url }}css/pages/dashboard.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/pages/reports.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">{{ title }} </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ user_screen_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li><a href="/cikis">Çıkış</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
{% include 'header.html' %}
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="info-box">
                    <div class="stats-box-title">{{ bayi_info.ADI }}</div>
                </div>


            </div>

            <div class="span6">
                <div class="info-box">
                    <div class="row-fluid stats-box">
                        <div class="span12">
                            <div class="stats-box-all-info"><div id="birim-durum" ></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="info-box">
                    <div class="row-fluid stats-box">
                        <div class="span12">
                            <div class="stats-box-all-info"><div id="birim-oran" ></div></div>
                        </div>
                    </div>
                </div>
            </div>



            </div>
        </div>

      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>
                            About Free Admin Template</h4>
                        <ul>
                            <li><a href="javascript:;">EGrappler.com</a></li>
                            <li><a href="javascript:;">Web Development Resources</a></li>
                            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                            <li><a href="javascript:;">Free Resources and Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Something Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Open Source jQuery Plugins</h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2015 <a href="http://www.gekosis.com/">Gekosis.com</a>. </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>
<script src="{{ tpl_url }}js/excanvas.min.js"></script>
<script src="{{ tpl_url }}js/chart.min.js" type="text/javascript"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="{{ tpl_url }}js/full-calendar/fullcalendar.min.js"></script>

<script src="{{ tpl_url }}js/base.js"></script>
<script>
    $(function () {
        $('#birim-durum').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Ürün Bazlı Toplam Satış Rakamları'
            },
            subtitle: {
                text: 'Sadece onaylanmış siparişler'
            },
            xAxis: {
                categories: [
                    {% for value in orders_count %}

                        '{{ value.URUN_ADI }}',
                    {% endfor %}
                ],
                title: {
                    text: null
                }
            },
            exporting:{
                enabled: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Adet',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' Adet'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Satış Adeti',
                data: [
                {% for value in orders_count %}
                    {{ value.ADET }},
                    {% endfor %}
                ]
            }]
        });
    });



    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#birim-oran').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Ürün Satış Dağılımı'
                },
                subtitle: {
                    text: 'Sadece onaylanmış siparişler'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                exporting:{
                    enabled: false
                },
                credits:{
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: "Oran",
                    colorByPoint: true,
                    data: [
                        {% for value in oran %}
                        {
                            name: "{{ value.URUN_ADI }}",
                            y: {{ value.ORAN }}
                        },

                    {% endfor %}



                    ]
                }]
            });
        });
    });
</script>


</body>
</html>
