<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - Bootstrap Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
<link href="{{ tpl_url }}css/style.css" rel="stylesheet">
<link href="{{ tpl_url }}css/pages/dashboard.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/pages/reports.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">{{ title }} </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ user_screen_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li><a href="/cikis">Çıkış</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
{% include 'header.html' %}
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="info-box">
                    <div class="stats-box-title">{{ birim_info.BIRIM_ADI }}</div>
                </div>


            </div>

            <div class="span12">
                <div class="info-box">
                    <div class="row-fluid stats-box">
                        <div class="span12">
                            <div class="stats-box-all-info"><div id="birim-durum" ></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span12">

                <div class="widget-content">

                            <div class="stats-box-title">Ürün Listesi</div>


                                <table id="bayi-listesi" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th> Stok Kodu</th>
                                        <th> Ürün Adı</th>
                                        <th> Stok</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for value in urun_listesi %}
                                    <tr>
                                        <td>{{ value.STOK_KODU }}</td>
                                        <td>{{ value.URUN_ADI }}</td>
                                        <td>{{ value.ADET }}</td>



                                    </tr>
                                    {% endfor %}



                                    </tbody>
                                </table>



                    </div>
                </div>

            </div>
        </div>

      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>
                            About Free Admin Template</h4>
                        <ul>
                            <li><a href="javascript:;">EGrappler.com</a></li>
                            <li><a href="javascript:;">Web Development Resources</a></li>
                            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                            <li><a href="javascript:;">Free Resources and Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Something Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Open Source jQuery Plugins</h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2015 <a href="http://www.gekosis.com/">Gekosis.com</a>. </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>

<script src="{{ tpl_url }}js/base.js"></script>
<script>
    $(function () {
        $('#birim-durum').highcharts({
            title: {
                text: 'Günlük Durum'
            },
            credits:{
                enabled: false
            },
            exporting:{
                enabled: false
            },
            xAxis: {
                categories: [
                    {% for value in urun_durum %}

                    '{{ value.URUN_ADI }}',
                    {% endfor %}

                ]
            },
            yAxis:{
                title:{
                    text: 'Adet'
                }
            },
            labels: {
                items: [{
                    html: 'Satış Ortalamaları',
                    style: {
                        left: '70px',
                        top: '15px',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'Mevcut',
                data: [
                    {% for value in urun_durum %}

                    {{ value.KULLANILABILIR }},
                    {% endfor %}
                ]
            }, {
                type: 'column',
                name: 'Bekleyen Sipariş',
                data: [
            {% for value in urun_durum %}

            {{ value.REZERV }},

    {% endfor %}
    ]
            }
    ]
        });
    });


</script>


</body>
</html>