<ul class="mainnav">
    <li class="active"><a href="/"><i class="icon-dashboard"></i><span>Anasayfa</span> </a> </li>

    {% for menu in user_menu %}
    <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>{{ menu.MODUL_ADI }}</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for sub in menu.sub %}

            <li><a href="{{ sub.ROUTE }}">{{ sub.MODUL_ADI }}</a></li>

            {% endfor %}
        </ul>
    </li>
    {% endfor %}

</ul>

