<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - Bootstrap Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
<link href="{{ tpl_url }}css/style.css" rel="stylesheet">
<link href="{{ tpl_url }}css/pages/dashboard.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/pages/reports.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style>



    .tab-content > .tab-pane {
        display: block;
        height: 0;

    }

</style>

</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">{{ title }} </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ user_screen_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li><a href="/cikis">Çıkış</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
{% include 'header.html' %}
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
        <div class="row">


            <div class="span6">
                <div class="widget widget-nopad">

                    <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">

                                <div id="big_stats" class="cf">
                                    <ul class="nav nav-tabs" >
                                        {% for key,data in grafik_data %}
                                        <li ><a data-toggle="tab" href="#tabs-{{ key }}">{{ data.DEPO_ADI }}</a></li>

                                        {% endfor %}


                                    </ul>

                                    <div class="tab-content " >


                                        {% for key,data in grafik_data %}
                                        {% if loop.index == 1 %}
                                        {% set active = "in active" %}
                                        {% else %}
                                        {% set active = "" %}
                                        {% endif %}
                                        <div id="tabs-{{ key }}" class="tab-pane fade {{ active }}" width="10%"></div>

                                        {% endfor %}

                                    </div>
                                    <!-- .stat -->
                                </div>
                            </div>
                            <!-- /widget-content -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="widget widget-nopad">

                    <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">

                                <div id="big_stats" class="cf">
                                    <div id="container" ></div>
                                    <!-- .stat -->
                                </div>
                            </div>
                            <!-- /widget-content -->

                        </div>
                    </div>
                </div>
            </div>



        </div>

      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>
                            Yardım</h4>
                        <ul>
                            <li><a href="http://stokizlecom.zendesk.com" target="_blank">Teknik Destek</a></li>

                        </ul>
                    </div>

                    <!-- /span3 -->

                    <!-- /span3 -->
                </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2015 <a href="http://www.gekosis.com/">Gekosis.com</a>.  Sürüm {{ version }}</div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>

<script src="{{ tpl_url }}js/base.js"></script>
<script>
    /**
     * Created by ozgur.kuru on 23.7.2015.
     */
        // Günlük ürün stok durumları
    $(function () {
                $('#container').highcharts({
                    chart: {
                        type: 'bar',
                        backgroundColor: null
                    },
                    exporting:{
                        enabled: false
                    },
                    title: {
                        text: 'Bugüne Ait Ürün Stok Durumları'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [
                            {% for val in urun_stok_durum %}
                                '{{ val.URUN_ADI }}',
                            {% endfor %}

                ]

            },
            credits:{
        enabled:false
    },
            yAxis: {
        min: 0,
                title: {
            text: 'Adet',
                    align: 'high'
        }
    },
    tooltip: {
        valueSuffix: ' Adet'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        reserved: true
    },

    series: [{
        name: 'Mevcut Stok',
        data: [
            {% for val in urun_stok_durum %}
        {% if val.STOCK is null %}
    0,
    {% else %}
        {{ val.STOCK }},
    {% endif %}
            {% endfor %}

    ]
    }, {
        name: 'Bekleyen Sipariş',
                data: [
        {% for val in urun_stok_durum %}
    {% if val.BEKLEYEN_ADET is null %}
        0,
    {% else %}
    {{ val.BEKLEYEN_ADET }},
    {% endif %}
    {% endfor %}

    ]
    }, {
        name: 'Onaylanmış Sipariş',
                data: [
        {% for val in urun_stok_durum %}
            {% if val.ONAY_ADET is null %}
                0,
            {% else %}
                {{ val.ONAY_ADET }},
            {% endif %}
        {% endfor %}
        ]
    }]
    });
    });
    // BUGÜNE AİT ÜRÜN STOK DURUMLARI SONU

    {% for key,data in grafik_data %}
    // FABRİKA STOK DURUM

    $(function () {
        $('#tabs-{{ key }}').highcharts({
            chart: {
                type: 'bar'
            },
            exporting:{
                enabled: false
            },
            title: {
                text: 'Mevcut Stok Durumu'
            },
            credits:{
                enabled:false
            },
            xAxis: {
                categories: [
                    {% for item in data %}
                        '{{ item.URUN_ADI|slice(0, 10) }}',
                    {% endfor %}
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Stok Sayısı'
                }
            },
            legend: {
                reversed: true
            },
            series: [{
                name: 'Kullanılabilir',
                data: [

                    {% for item in data %}
                {{ item.KULLANILABILIR }},
    {% endfor %}


                ],
                dataLabels: {
                    enabled: true,

                }
            }, {
                name: 'Bekleyen Sipariş',
                data: [

        {% for item in data %}
    {{ item.REZERV }},
    {% endfor %}

        ],
                dataLabels: {
                    enabled: true,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y} Adet', // one decimal
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });


    });
    {% endfor %}
    // FABRİKA STOK DURUM SONU


</script>

<script>
    $(function () {
        $('#satis-oranlari-grafigi').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            exporting:{
                enabled: false
            },
            title: {
                text: 'Günlük Satış Oranları Grafiği'
            },
            subtitle:{
                text: 'Günlük onaylanmış siparişler'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            credits:{
                enabled:false
            },
            series: [{
                name: "Satış Oranı",
                colorByPoint: true,
                data: [
                    {% for item in gunluk_oran %}
                {
                    name: "{{ item.URUN_ADI }}",
                    y: {{ item.ORAN}}
                }
                {% endfor %}

                    ]
            }]
        });
    });
</script>



</body>
</html>
