<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="{{ tpl_url }}css/style.css" rel="stylesheet" type="text/css">
<link href="{{ tpl_url }}css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="index.html">
                {{ title }}
			</a>		
			

	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container">
	
	<div class="content clearfix">
		
		<form action="/giris" method="post">
		
			<h1>Giriş</h1>
			
			<div class="login-fields">
				
				<p>Lütfen giriş yapınız</p>
				
				<div class="field">
					<label for="username">Email</label>
					<input type="text" id="username" name="login" value="" placeholder="Username" class="login username-field" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Şifre:</label>
					<input type="password" id="password" name="pass" value="" placeholder="Password" class="login password-field"/>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				

									
				<button class="button btn btn-success btn-large">Giriş</button>
				
			</div> <!-- .actions -->

            <div class="login-extra">
                <a href="/sifremiunuttum">Reset Password</a>
            </div>
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->




<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>

<script src="{{ tpl_url }}js/signin.js"></script>

</body>

</html>
