<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard - Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/style.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/pages/dashboard.css" rel="stylesheet">
    <link href="{{ tpl_url }}css/pages/reports.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a
                class="brand" href="index.html">{{ title }} </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ user_screen_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="/cikis">Çıkış</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            {% include 'header.html' %}

        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">

                <div class="span12">
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bar-chart"></i>

                            <h3>Ürün Raporları</h3>
                        </div>
                        <div class="widget-content">
                            <p class="alert alert-info">
                                Rapor oluşturmak için <strong>Ürün</strong> ve <strong>Tarih</strong> bilgisi seçmeniz zorunludur.

                            </p>

                            <p>
                                <form action="/rapor/urun/" method="post">
                            <label for="urun" style="display:inline">
                                Ürün:</label>
                            <select id="urun" style="height: 20px; padding: 0px 0px 0px 0px;">
                                <option>a</option>
                                <option>b</option>
                                <option>c</option>
                            </select>
                            <label class="inline" style="display:inline">Başlangıç Tarihi:</label>
                            <input type="text" name="baslangic" id='baslangic' style="height: 20px; padding: 0px 0px 0px 0px;">
                            <label class="inline" style="display:inline">Bitiş Tarihi:</label>
                            <input type="text" name="bitis" id='bitis' style="height: 20px; padding: 0px 0px 0px 0px;">
                            <input type="submit" value="Çalıştır">
                        </form>
                            </p>

                        </div>

                    </div>
                </div>
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bar-chart"></i>

                            <h3>Üretim Grafiği</h3>
                        </div>
                        <div class="widget-content">


                            <div id="uretim-grafik" style="min-width: 310px; height: 400px; margin: 0 auto">ddd</div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<div class="extra">
    <div class="extra-inner">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h4>
                        About Free Admin Template</h4>
                    <ul>
                        <li><a href="javascript:;">EGrappler.com</a></li>
                        <li><a href="javascript:;">Web Development Resources</a></li>
                        <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                        <li><a href="javascript:;">Free Resources and Scripts</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        Support</h4>
                    <ul>
                        <li><a href="javascript:;">Frequently Asked Questions</a></li>
                        <li><a href="javascript:;">Ask a Question</a></li>
                        <li><a href="javascript:;">Video Tutorial</a></li>
                        <li><a href="javascript:;">Feedback</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        Something Legal</h4>
                    <ul>
                        <li><a href="javascript:;">Read License</a></li>
                        <li><a href="javascript:;">Terms of Use</a></li>
                        <li><a href="javascript:;">Privacy Policy</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        Open Source jQuery Plugins</h4>
                    <ul>
                        <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                        <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                        <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                        <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2015 <a href="http://www.gekosis.com/">Gekosis.com</a>.</div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://raw.githubusercontent.com/jquery/jquery-ui/master/ui/i18n/datepicker-tr.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>

<script src="{{ tpl_url }}js/base.js"></script>

<script>

    $( "#baslangic" ).datepicker({
        defaultDate: "+1w",
        changeYear: true,
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: 'yy-mm-dd',
        onClose: function( selectedDate ) {
            $( "#bitis" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#bitis" ).datepicker({
        defaultDate: "+1w",
        changeYear: true,
        changeMonth: true,
        dateFormat: 'yy-mm-dd',
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $( "#baslangic" ).datepicker( "option", "maxDate", selectedDate );
        }
    });


</script>

<script>
    $(function () {
        $('#uretim-grafik').highcharts({
            title: {
                text: 'Ürünlere ait üretim grafikleri',
                x: -20 //center
            },
            exporting:{
                enabled: false
            },
            subtitle: {
                text: 'Grafik son 30 günü kapsamaktadır',
                x: -20
            },
            xAxis: {
                categories: [
                    {% for key, data in uretim %}

                        '{{ key }}',
                    {% endfor %}

                ]
            },
            yAxis: {
                title: {
                    text: 'Adet'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Adet'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [

            {% for key, data in uretim %}


                {% for item in data %}
                    {
                        name: '{{ item.URUN_ADI }}',
                        data: [{{ item.ADET }},]
                    },
                {% endfor %}
            {% endfor %}


            ]
        });
    });
</script>
</body>
</html>
<pre>
    {{ dump(uretim) }}
</pre>