<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - Bootstrap Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
<link href="{{ tpl_url }}css/style.css" rel="stylesheet">
<link href="{{ tpl_url }}css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ tpl_url }}js/humane/themes/jackedup.css" media="screen" />

    <script src="{{ tpl_url }}js/humane/humane.min.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">{{ title }} </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ user_screen_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li><a href="/cikis">Çıkış</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
{% include 'header.html' %}
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

        <!-- /span6 -->
        <div class="span12">
            <div class="widget widget-table action-table">
                <div class="widget-header"> <i class="icon-group"></i>
                    <h3>İşlem yapılmış Siparişler</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th> ID  </th>
                            <th> Tarih</th>
                            <th >Bayi </th>
                            <th >Personel Adı </th>
                            <th >Siparişler </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for value in onaylanmis_siparisler %}
              
                        <tr>

                            <td><a href="/satis/detay/{{ value.ID }}">{{ value.ID }}</a></td>
                            <td>{{ value.TARIH }}</td>
                            <td>{{ value.BAYI_ADI }}</td>
                            <td>{{ value.PERSONEL_ADI }}</td>
                            <td>

                                {% for value2 in value.urunler %}
                                {{ value2.URUN_ADI }} - {{ value2.ADET }} Adet<br>
                                {% endfor %}
                            </td>




                        </tr>
                        {% endfor %}



                        </tbody>
                    </table>
                </div>
                <!-- /widget-content -->
            </div>
          <!-- /widget -->

        </div>
        <!-- /span6 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>
                            About Free Admin Template</h4>
                        <ul>
                            <li><a href="javascript:;">EGrappler.com</a></li>
                            <li><a href="javascript:;">Web Development Resources</a></li>
                            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                            <li><a href="javascript:;">Free Resources and Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Something Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Open Source jQuery Plugins</h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2013 <a href="http://www.egrappler.com/">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 
<!-- Le javascript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>
<script src="{{ tpl_url }}js/excanvas.min.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>
<script>
    $("#onay").click(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("href");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                humane.log(data);
                window.setTimeout('location.reload()', 4000);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //if fails
            }
        });
    });
</script>
</body>
</html>