<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="{{ tpl_url }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{ tpl_url }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="{{ tpl_url }}css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
<link href="{{ tpl_url }}css/style.css" rel="stylesheet" type="text/css">
<link href="{{ tpl_url }}css/pages/signin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ tpl_url }}js/humane/themes/jackedup.css" media="screen" />

    <script src="{{ tpl_url }}js/humane/humane.min.js"></script>
</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="index.html">
                {{ title }}
			</a>		
			

	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container">
	
	<div class="content clearfix">
		
		<form action="/sifresifirla/{{ token }}/?o=1" method="post" id="reset">
		
			<h1>Şifre sıfırlama</h1>
			
			<div class="login-fields">
				
				<p>Lütfen yeni şifrenizi giriniz:</p>
				
				<div class="field">
					<label for="username">Şifre</label>
					<input type="password" id="username" name="pass1" value="" placeholder="Şifre " class="login password-field" />
				</div> <!-- /field -->
                <div class="field">
                    <label for="username">Şifre Kontrol</label>
                    <input type="password" id="username" name="pass2" value="" placeholder="Şifre Tekrar" class="login password-field" />


                </div>

			</div> <!-- /login-fields -->
			
			<div class="login-actions">


									
				<button class="button btn btn-success btn-large">Sıfırla</button>
				
			</div> <!-- .actions -->

            <div class="login-extra">
                <a href="/">Giriş</a>
            </div>
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->




<script src="{{ tpl_url }}js/jquery-1.7.2.min.js"></script>
<script src="{{ tpl_url }}js/bootstrap.js"></script>

<script src="{{ tpl_url }}js/signin.js"></script>

</body>

</html>

<script>
    $("#reset").submit(function (event) {
// Stop form from submitting normally
        event.preventDefault();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                humane.log(data);
                window.setTimeout('location.reload()', 4000);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //if fails
            }
        });
    });
</script>